<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.2/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/IDS/Tests/bootstrap.php"
         cacheDirectory=".phpunit.cache">

    <testsuites>
        <testsuite name="PHPIDS">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="docs/coverage/"/>
        </report>
    </coverage>

    <php>
        <var name="IDS_TEMP_DIR" value="/tmp"/>
        <var name="IDS_CONFIG" value="src/IDS/Config/Config.ini.php"/>
        <var name="IDS_FILTER_CACHE_FILE" value="/tmp/default_filter.cache"/>
        <var name="IDS_FILTER_TYPE" value="xml"/>
        <var name="IDS_FILTER_SET" value="src/IDS/default_filter.xml"/>
        <var name="IDS_FILTER_SET_XML" value="src/IDS/default_filter.xml"/>
        <var name="IDS_FILTER_SET_JSON" value="src/IDS/default_filter.json"/>
    </php>
</phpunit>
